{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SWE Blood Bank</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/one-page-wonder.min.css'%}" rel="stylesheet">
  <style>
    .box{
      border: 1px solid white;
      border-top: 5px;
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">SWE Blood Bank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logutUser' %}"> Logout</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'adminApproveDonorPage' %}"> Donor Request</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'adminFetchAllValidDonorPage' %}"> Donor List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">DIU SWE Blood Bank</h1>
        <h2 class="masthead-subheading mb-0">a project by #diusweopensource</h2>
        <div class="row mt-5" >
          <div class="col-md-6 box">
            <h3>Approved - {{totalApprovedDonor}}</h3>
          </div>

          <div class="col-md-6 box">
            <h3>Unapproved - {{totalUnapprovedDonor}}</h3>
          <div>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row mb-5 mt-5">
        <div class="col-md-6">
          <h1>Department Donor Request</h1>
        </div>
      </div>
      <div class="row align-items-center mb-5 mt-5">
        <div class="col-lg-12 ">
          <table id="example" class="display table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Blood Group</th>
                    <th>Phone</th>
                    <th>Batch</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for donor in allDonor %}
                  <tr>
                      <td>{{donor.name}}</td>
                      <td>{{donor.blood_group}}</td>
                      <td>{{donor.phone}}</td>
                      <td>{{donor.batch}}</td>
                      <td>{{donor.address}}</td>
                      <td>{{donor.status }}</td>
                      <td>{{donor.created_date}}</td>
                      <td><a href="{% url 'adminApproveDonor' donor.id %}">Approve</a> </td>
                      <td><a href="{% url 'adminDeleteDonor' donor.id %}">Delete</a> </td>
                  </tr>
                {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </section>

    <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Vai Brothers</p>
    </div>
    <!-- /.container -->
  </footer>

  <div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Add Donor</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>

                <div class="modal-body">
                    <form  method="post" action="{% url 'adminAddDonor'%}">
                    {% csrf_token %}
                     <div class="form-sample">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="name" required="required"
                                               class="form-control " placeholder="Name"/>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Blood</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="blood">
                                          <option selected disabled>Select</option>
                                          <option value="a+">A+</option>
                                          <option value="a-">A-</option>
                                          <option value="b+">B+</option>
                                          <option value="b-">B-</option>
                                          <option value="o+">O+</option>
                                          <option value="o-">O-</option>
                                          <option value="ab+">AB+</option>
                                          <option value="ab-">AB-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Phone</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="phone" required="required"
                                               class="form-control " placeholder="Phone"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Batch</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="batch"
                                               class="form-control " placeholder="Batch"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Address</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="address"
                                               class="form-control" placeholder="Address"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                       <button type="submit" class="btn btn-success mr-2 col-md-4">Submit</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>




  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

  <script>
    $( document ).ready(function() {
        {% if messages %}
            {% for message in messages %}
                toastr.{{ message.tags }}('{{ message }}');
            {% endfor %}
        {% endif %}

    });
  </script>


</body>

</html>